{% extends 'base.html' %}

{% block title %}About - My Portfolio{% endblock %}

{% block content %}
<h1>About Me</h1>

<section>
    <p> I'm a developer and an artist, with a passion for both technology and creativity. I began coding during my undergraduate degree, starting with Python, HTML, CSS, JavaScript, and ReactJS, and also explored C# for game development in Unity. During my undergrad, I interned as a junior front-end developer, working on an e-commerce site. I have just completed a master's in cloud computing, where I have been able to explore AWS services, blockchain technologies, and cloud machine learning </p>
    <ul>
        <li>City: Dublin, Ireland</li>
        <li>Email: ayoneteicha@gmail.com</li>
    </ul>
    <h2>Skills</h2>
    <ul>
        <li>Python & Django</li>
        <li>JavaScript</li>
        <li>HTML & CSS</li>
        <li>SQL</li>
        <li>AWS</li>
        <li>ReactJS</li>
        <li>Git & GitHub</li>
        <li>Unity & C#</li>
    </ul>
</section>
<section>
    <h2>More links</h2>
    <ul>
        <li>Design and Illustration</li>
        <li>UI/UX</li>
        <li>Writing</li>
    </ul>
</section>
{% endblock %}