{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
    
        <!-- <a href="{% url 'home' %}" class="logo-text">a.</a> -->
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'portfolio:projects' %}">Projects</a>
        <a href="{% url 'blog:post_list' %}">Blog</a>
    </nav>
    
    <main>
        <div class="rod"></div>
        <div class="rod2"></div>
        <div class="circle"></div>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <a href="https://www.linkedin.com/in/ayonete-icha/"><i class="fa-brands fa-linkedin" ></i></a>
        <a href="https://www.notion.so/Writing-Samples-14c6f07c8dbc80e5abeeedc383902d85"><i class="fa-brands fa-notion"></i></a>
        <a href="https://www.behance.net/ayonete"><i class="fa-brands fa-behance"></i></a>
    </footer>

        <!-- Resume Modal -->
    <div id="resumeModal" class="modal">
        <div class="modal-overlay"></div>
        <div class="modal-content">
            <button class="modal-close" onclick="closeResumeModal()">&times;</button>
            <div class="modal-body">
                {% include 'portfolio/resume_content.html' %}
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    
</body>
</html>