{% extends 'base.html' %}
{% load static %}
{% block title %}Home - My Portfolio{% endblock %}

{% block content %}
<div class="hero-section">
       

    <div class="hero-left">
        <h1>Hi, I'm Ayonete</h1>
        <p class="hero-description">I am passionate about developing interactive digital experiences that combine creativity and technology. With a background in web development and a keen interest in AI, I strive to create solutions that are not only functional but also engaging and user-friendly.</p>
        <div class="hero-buttons">
                <button onclick="openResumeModal()" class="btn btn-primary">View Resume</button>
                <a href="#" class="btn btn-secondary-outline">Contact Me</a>
        </div>
    </div>
    
    <div class="hero-right">
        <img src="{% static 'images/Headshots.jpeg' %}" alt="Ayonete Icha" class="profile-pic"/>
    </div> 
</div>
{% endblock %}